@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Isso aqui será o futuro site institucional do projeto</h1>

    <a asp-action="index" asp-controller="app">Click aqui para acessar o app </a>
    <hr />
    <a asp-action="login" asp-controller="account">Login </a>
</body>
</html>