<aside id="left-panel">
<div class="login-info">
    <span>


            <img class="online" src="~/img/no_foto.png" alt="Erro" onerror="ImgError(this)" />
   

    </span>
</div>
<nav>
    <ul>
        <li is-active-route asp-controller="Home">
            <a asp-controller="Home" asp-action="index" title="Página Inicial">
                <i class="fas fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Home</span>
            </a>
        </li>

        <li is-active-route asp-controller="Individuos">
            <a href="#">
                <i class="fa-lg fa-fw fas fa-cube"></i> <span class="menu-item-parent">Indivíduo</span>
            </a>
            <ul>
                <li is-active-route asp-controller="Individuos" asp-action="Index">
                    <a asp-controller="Individuos" asp-action="Index" title="Listagem dos indíviduos">
                        <i class="fas fa-lg fa-fw fa-gear"></i> <span class="menu-item-parent">Listar</span>
                    </a>
                </li>
                <li is-active-route asp-controller="Individuos" asp-action="create">
                    <a asp-controller="Individuos" asp-action="create" title="Cadastrar novo indivíduo">
                        <i class="fas fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Cadastrar</span>
                    </a>
                </li>
                <li is-active-route asp-controller="Interesses" asp-action="create">
                    <a asp-controller="Interesses" asp-action="create" title="Ocorrência">
                        <i class="fas fa-lg fa-fw fa-picture-o"></i> <span class="menu-item-parent">Ocorrência</span>
                    </a>
                </li>
            </ul>
        </li>



    </ul>
</nav>
<span class="minifyme" data-action="minifyMenu">
    <i class="fas fa-arrow-circle-left hit"></i>
</span>
</aside>
