<title>GGI.Tj Atibaia - @ViewData["Title"]</title>

<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="manifest" href="~/manifest/manifest.json">

<meta name="description" content="Aplicativo Hackthon" />
<meta name="author" content="Massacration Team" />

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="theme-color" content="#283593" />


<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Weather PWA">
<link rel="apple-touch-icon" sizes="57x57" href="~/manifest/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="~/manifest/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="~/manifest/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="~/manifest/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="~/manifest/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="~/manifest/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="~/manifest/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="~/manifest/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="~/manifest/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="~/manifest/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/manifest/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="~/manifest/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/manifest/favicon-16x16.png">
<link rel="manifest" href="~/manifest/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">


<meta name="msapplication-TileColor" content="#283593">
<meta name="msapplication-TileImage" content="~/manifest/ms-icon-144x144.png">
