<header id="header">
    <div id="logo-group">
        <span id="logo">
            <a href="/">
                <img src="~/img/Logo50px.png" class="img-responsive"/>
               
            </a>
        </span>

    </div>

    <div class="pull-right">
        <div id="hide-menu" class="btn-header pull-right">
            <span>
                <a href="javascript:void(0);" data-action="toggleMenu" title="Menu compacto">
                    <i class="fas fa-bars"></i>
                </a>
            </span>
        </div>

        <div id="logout" class="btn-header transparent pull-right">
            <span>
                <a asp-controller="Account" asp-action="Logout" title="Sair" data-action="userLogout"
                   data-logout-msg="Você pode melhorar a segurança, fechando o navegador depois">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </span>
        </div>


    </div>
</header>
