<section id="team" class="g-py-30 g-pb-80--md">
    <div class="u-bg-overlay g-theme-bg-gray-dark-v1-opacity-0_95--after g-pt-30 g-pt-80--md g-pb-250" style="background-image: url(assets/img-temp/1400x585/img1.jpg);">
        <div class="container text-center u-bg-overlay__inner g-max-width-770">
            <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
                <h3 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">Nosso Time</h3>
                <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md g-color-white mb-0">Um grupo diferente mas criativo</h2>
            </div>

            <p class="g-color-white-opacity-0_5 mb-0">Praesent eu nibh malesuada, condimentum nibh hendrerit, viverra sem. Nulla porttitor eget ante ullamcorper convallis. Integer dictum lorem arcu, eget tempus nulla accumsan id.</p>
        </div>
    </div>

    <div class="container g-mt-minus-200">
        <div class="row">
            <div class="col-md-6 col-lg-2 g-mb-30 g-mb-0--lg">
                <div class="text-center">
                    <figure class="g-pos-rel g-parent g-mb-30">
                        <!-- Figure Image -->
                        <img class="w-100" src="assets/img-temp/270x450/img1.jpg" alt="Image Description">
                        <!-- End Figure Image -->
                        <!-- Figure Caption -->
                        <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
                            <q class="text-uppercase u-quote-v1 g-flex-middle-item g-line-height-1_4 g-font-weight-700 g-font-size-16 g-color-white">Changing your mind and changing world</q>
                            <!-- Figure Social Icons -->
                            <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Figure Social Icons -->
                        </figcaption>
                        <!-- End Figure Caption -->
                    </figure>
                    <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">Eng. da Computação</em>
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">Alejandro Druetta</h4>
                    <p class="g-font-size-13 g-theme-color-gray-light-v3 mb-0">Linux man</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-2 g-mb-30 g-mb-0--lg">
                <div class="text-center">
                    <!-- Figure -->
                    <figure class="g-pos-rel g-parent g-mb-30">
                        <!-- Figure Image -->
                        <img class="w-100" src="assets/img-temp/270x450/img2.jpg" alt="Image Description">
                        <!-- End Figure Image -->
                        <!-- Figure Caption -->
                        <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
                            <q class="text-uppercase u-quote-v1 g-flex-middle-item g-line-height-1_4 g-font-weight-700 g-font-size-16 g-color-white">Changing your mind and changing world</q>
                            <!-- Figure Social Icons -->
                            <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Figure Social Icons -->
                        </figcaption>
                        <!-- End Figure Caption -->
                    </figure>
                    <!-- End Figure -->
                    <!-- Figure Info -->
                    <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">Eng. da Computação</em>
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">
                        Denise Yuki
                    </h4>
                    <p class="g-font-size-13 g-theme-color-gray-light-v3 mb-0">Matemática</p>
                    <!-- End Figure Info-->
                </div>
            </div>

            <div class="col-md-6 col-lg-2 g-mb-30 g-mb-0--md">
                <div class="text-center">
                    <!-- Figure -->
                    <figure class="g-pos-rel g-parent g-mb-30">
                        <!-- Figure Image -->
                        <img class="w-100" src="assets/img-temp/270x450/img3.jpg" alt="Image Description">
                        <!-- End Figure Image -->
                        <!-- Figure Caption -->
                        <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
                            <q class="text-uppercase u-quote-v1 g-flex-middle-item g-line-height-1_4 g-font-weight-700 g-font-size-16 g-color-white">Changing your mind and changing world</q>
                            <!-- Figure Social Icons -->
                            <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Figure Social Icons -->
                        </figcaption>
                        <!-- End Figure Caption -->
                    </figure>
                    <!-- End Figure -->
                    <!-- Figure Info -->
                    <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">
                        Análise de Sistemas
                    </em>
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">
                        Gabriel Oliveira
                    </h4>
                    <p class="g-font-size-13 g-theme-color-gray-light-v3 mb-0">Dev</p>
                    <!-- End Figure Info-->
                </div>
            </div>

            <div class="col-md-6 col-lg-2">
                <div class="text-center">
                    <!-- Figure -->
                    <figure class="g-pos-rel g-parent g-mb-30">
                        <!-- Figure Image -->
                        <img class="w-100" src="assets/img-temp/270x450/img4.jpg" alt="Image Description">
                        <!-- End Figure Image -->
                        <!-- Figure Caption -->
                        <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
                            <q class="text-uppercase u-quote-v1 g-flex-middle-item g-line-height-1_4 g-font-weight-700 g-font-size-16 g-color-white">Changing your mind and changing world</q>
                            <!-- Figure Social Icons -->
                            <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Figure Social Icons -->
                        </figcaption>
                        <!-- End Figure Caption -->
                    </figure>
                    <!-- End Figure -->
                    <!-- Figure Info -->
                    <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">
                    Eng. da computação</em>
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">Junia Camargo</h4>
                    <p class="g-font-size-13 g-theme-color-gray-light-v3 mb-0">Criativa</p>
                    <!-- End Figure Info-->
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                <div class="text-center">
                    <!-- Figure -->
                    <figure class="g-pos-rel g-parent g-mb-30">
                        <!-- Figure Image -->
                        <img class="w-100" src="assets/img-temp/270x450/img4.jpg" alt="Image Description">
                        <!-- End Figure Image -->
                        <!-- Figure Caption -->
                        <figcaption class="g-pos-abs g-top-0 g-left-0 g-flex-middle w-100 h-100 g-bg-primary-dark-v1-opacity-0_8 opacity-0 g-opacity-1--parent-hover g-pa-20 g-transition-0_2 g-transition--ease-in">
                            <q class="text-uppercase u-quote-v1 g-flex-middle-item g-line-height-1_4 g-font-weight-700 g-font-size-16 g-color-white">Changing your mind and changing world</q>
                            <!-- Figure Social Icons -->
                            <ul class="list-inline g-flex-middle-item--bottom g-mb-30 mt-0">
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-5">
                                    <a class="u-icon-v3 u-icon-size--xs g-width-35 g-height-35 g-color-primary g-color-white--hover g-bg-white g-bg-primary--hover" href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Figure Social Icons -->
                        </figcaption>
                        <!-- End Figure Caption -->
                    </figure>
                    <!-- End Figure -->
                    <!-- Figure Info -->
                    <em class="d-block text-uppercase g-font-style-normal g-font-weight-700 g-font-size-11 g-color-primary g-mb-5">Eng. da computação</em>
                    <h4 class="text-uppercase g-font-weight-700 g-font-size-18 g-theme-color-gray-dark-v1 g-mb-7">Leonardo Dorathoto</h4>
                    <p class="g-font-size-13 g-theme-color-gray-light-v3 mb-0">Iron man</p>
                    <!-- End Figure Info-->
                </div>
            </div>
        </div>
    </div>
</section>