<section id="services" class="g-py-30 g-py-80--md">
    <div class="container text-center u-bg-overlay__inner g-max-width-770 g-mb-30 g-mb-70--md">
        <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
            <h3 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">Cadastros</h3>
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1 mb-0">Faça parte dessa mudança!</h2>
        </div>

        <p class="mb-0">Instale o aplicativo, é grátis! E na pior das hipoteses só desinstalar.</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 g-mb-40 g-mb-0--lg">
                <div class="text-center"
                     data-animation="fadeInUp"
                     data-animation-duration="1500">
                    <span class="u-icon-v2 u-icon-size--3xl g-font-size-30 g-font-size-40--md g-color-primary g-brd-10 g-brd-gray-light-v5 g-rounded-50x g-mb-25">
                    <i class="icon-briefcase"></i></span>
                    <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-black g-mb-15">Cadastro como Empresa</h3>
                    <p class="mb-0">Se você é uma empresa, clique aqui e faça seu cadastro</p>
                    <a class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0" href="/Account/Register?tipo=1">Faça seu cadastro</a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 g-mb-40 g-mb-0--lg">
                <div class="text-center"
                     data-animation="fadeInUp"
                     data-animation-duration="1750">
                    <span class="u-icon-v2 u-icon-size--3xl g-font-size-30 g-font-size-40--md g-color-primary g-brd-10 g-brd-gray-light-v5 g-rounded-50x g-mb-25">
                    <i class="icon-home"></i></span>
                    <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-black g-mb-15">Cadastro como ONG's</h3>
                    <p class="mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum fringilla velit rhoncus euismod rhoncus turpis</p>
                    <a class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0" href="/Account/Register?tipo=2">Faça seu cadastro</a>

                </div>
            </div>

            <div class="col-md-6 col-lg-4 g-mb-40 g-mb-0--md">
                <div class="text-center"
                     data-animation="fadeInUp"
                     data-animation-duration="2000">
                    <span class="u-icon-v2 u-icon-size--3xl g-font-size-30 g-font-size-40--md g-color-primary g-brd-10 g-brd-gray-light-v5 g-rounded-50x g-mb-25">
                    <i class="icon-user"></i></span>
                    <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-black g-mb-15">Cadastro como usuário final</h3>
                    <p class="mb-0">Quisque rhoncus euismod pulvinar. Nulla non arcu at lectus. Vestibulum fringilla velit rhoncus euismod rhoncus turpis</p>
                    <a class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0" href="/Account/Register?tipo=3">Faça seu cadastro</a>

                </div>
            </div>
        </div>
    </div>
</section>