<section id="whyWe">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md-6 d-flex g-theme-bg-gray-light-v4 g-py-30 g-py-80--md g-px-30">
                <div class="align-self-center">
                    <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary g-mb-30">
                        <h3 class="g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">Why we</h3>
                        <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1 mb-0">We as magicians</h2>
                    </div>

                    <p class="g-mb-30">Donec ut diam risus. Nunc cursus turpis ac erat mollis maximus. Donec erat urna, tincidunt at leo non, blandit finibus ante. Nunc venenatis risus in finibus dapibus. Ut ac massa sodales, mattis enim id, efficitur tortor. Nullam faucibus iaculis laoreet. Phasellus ac ipsum odio.</p>
                    <p class="g-mb-30">Nulla cursus orci sed ipsum scelerisque volutpat. Integer quis dapibus leo, maximus ultrices dui. Mauris facilisis, ex sed scelerisque bibendum, tellus leo pharetra augue.</p>
                    <p class="g-mb-30">Mauris aliquet, magna nec gravida interdum, magna nibh fringilla nulla, eget egestas sapien orci eget tellus. Pellentesque vulputate posuere libero a varius. Duis feugiat.</p>
                    <a class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0" href="#">Get in touch</a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="g-parent g-theme-bg-gray-dark-v1 g-theme-bg-gray-dark-v2--hover g-overflow-x-hidden g-brd-bottom g-theme-brd-gray-dark-v4 g-transition-0_2 g-transition--ease-in">
                    <!-- Icon Blocks -->
                    <article class="media d-block d-md-flex text-center text-md-left g-py-30 g-py-70--md g-pl-30 g-pl-60--md g-pr-30"
                             data-animation="fadeInRight"
                             data-animation-duration="1750">
                        <div class="d-md-flex align-self-center g-mb-30 g-mb-0--md g-mr-30--md">
                            <span class="u-icon-v2 u-icon-size--2xl g-color-primary g-brd-4 g-theme-brd-gray-dark-v3 g-brd-primary-dark--parent-hover g-rounded-50x">
                                <i class="icon-line icon-magnet g-font-size-35"></i>
                            </span>
                        </div>

                        <div class="media-body align-self-center">
                            <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-white">Branding and identity</h3>
                            <p class="g-color-white-opacity-0_5 mb-0">Sed in laoreet purus. Nunc sagittis suscipit ultrices. Proin suscipit facilisis ultrices. Phasellus arcu risus, semper quis elementum eget.</p>
                        </div>
                    </article>
                    <!-- End Icon Blocks -->
                </div>

                <div class="g-parent g-theme-bg-gray-dark-v1 g-theme-bg-gray-dark-v2--hover g-overflow-x-hidden g-brd-bottom g-theme-brd-gray-dark-v4 g-transition-0_2 g-transition--ease-in">
                    <!-- Icon Blocks -->
                    <article class="media d-block d-md-flex text-center text-md-left g-py-30 g-py-70--md g-pl-30 g-pl-60--md g-pr-30"
                             data-animation="fadeInRight"
                             data-animation-duration="1750">
                        <div class="d-md-flex align-self-center g-mb-30 g-mb-0--md g-mr-30--md">
                            <span class="u-icon-v2 u-icon-size--2xl g-color-primary g-brd-4 g-theme-brd-gray-dark-v3 g-brd-primary-dark--parent-hover g-rounded-50x">
                                <i class="icon-line icon-magic-wand g-font-size-35"></i>
                            </span>
                        </div>

                        <div class="media-body align-self-center">
                            <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-white">UI/UX and graphic design</h3>
                            <p class="g-color-white-opacity-0_5 mb-0">Mauris aliquet, magna nec gravida interdum, magna nibh fringilla nulla, eget egestas sapien orci eget tellusa varius.</p>
                        </div>
                    </article>
                    <!-- End Icon Blocks -->
                </div>

                <div class="g-parent g-theme-bg-gray-dark-v1 g-theme-bg-gray-dark-v2--hover g-overflow-x-hidden g-transition-0_2 g-transition--ease-in">
                    <!-- Icon Blocks -->
                    <article class="media d-block d-md-flex text-center text-md-left g-py-30 g-py-70--md g-pl-30 g-pl-60--md g-pr-30"
                             data-animation="fadeInRight"
                             data-animation-duration="1750">
                        <div class="d-md-flex align-self-center g-mb-30 g-mb-0--md g-mr-30--md">
                            <span class="u-icon-v2 u-icon-size--2xl g-color-primary g-brd-4 g-theme-brd-gray-dark-v3 g-brd-primary-dark--parent-hover g-rounded-50x">
                                <i class="icon-line icon-calculator g-font-size-35"></i>
                            </span>
                        </div>

                        <div class="media-body align-self-center">
                            <h3 class="h6 text-uppercase g-font-weight-700 g-font-secondary g-color-white">Web and software development</h3>
                            <p class="g-color-white-opacity-0_5 mb-0">Aliquam dignissim, leo sit amet pulvinar dapibus, neque sapien bibendum massa, a efficitur massa mauris a augue. Suspendisse faucibus.</p>
                        </div>
                    </article>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
    </div>
</section>