<section id="about" class="g-pos-rel">
    <!-- Info Blocks -->
    <div class="row align-items-stretch no-gutters">
        <div class="col-md-6">
            <!-- Article -->

            <article class="h-100 g-bg-img-hero" style="background-image: url(/img/img1.jpg);">
                <div class="d-flex text-left text-lg-right h-100 g-theme-bg-gray-dark-v2 g-bg-primary-dark-v1-opacity-0_9--hover g-py-30 g-py-90--md g-px-15 g-px-30--md g-pr-170--lg g-transition-0_3 g-transition--ease-in">
                    <div class="align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-700 g-font-secondary g-color-white g-mb-12">Mudanças Climáticas</h3>
                        <p class="g-color-white-opacity-0_7 mb-0">
                            As mudanças climáticas é um problema grave, que é causado por causas
                            naturais, porém se agrava com as atividades humanas. Em relação a
                            atividade desenvolvida pelos homens, algumas mudanças de
                            comportamento podem ajudar a evitar essas situações e há muito tempo é
                            repassado as informações. Porém, nem sempre o que é ensinado é
                            praticado, necessitando de ações mais fortes do que apenas conscientizar as
                            pessoas.
                        </p>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>

        <div class="col-md-6">
            <!-- Article -->
            <article class="h-100 g-bg-img-hero" style="background-image: url(/img/img2.jpg);">
                <div class="d-flex h-100 g-theme-bg-gray-dark-v1 g-bg-primary-dark-v1-opacity-0_9--hover g-py-30 g-py-90--md g-px-15 g-px-30--md g-pl-170--lg g-transition-0_3 g-transition--ease-in">
                    <div class="align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-700 g-font-secondary g-color-white g-mb-12">Plataforma de comunicação</h3>
                        <p class="g-color-white-opacity-0_7 mb-0">
                            Muitas empresas têm uma orientação quanto ao desenvolvimento
                            sustentável, elas seguem protocolos de ações ambientais como respeitar
                            leis ambientais, controle de uso dos recursos naturais, utilização de
                            materiais recicláveis ou biodegradáveis entre outras propostas, mas uma
                            empresa pode ir além de seguir protocolos, ela pode ser a auxiliadora no
                            envolvimento publicitário de ações conscientizadoras e com isso ter uma
                            relação mais próxima com as ONGs.
                        </p>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>

    <div class="row align-items-stretch no-gutters">
        <div class="col-md-6">
            <!-- Article -->
            <article class="h-100 g-bg-img-hero" style="background-image: url(/img/img3.jpg);">
                <div class="d-flex text-left text-lg-right h-100 g-theme-bg-gray-dark-v1 g-bg-primary-dark-v1-opacity-0_9--hover g-py-30 g-py-90--md g-px-15 g-px-30--md g-pr-170--lg g-transition-0_3 g-transition--ease-in">
                    <div class="align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-700 g-font-secondary g-color-white g-mb-12">Empresas – ONGs</h3>
                        <p class="g-color-white-opacity-0_7 mb-0">
                            A primeira parte do objetivo da plataforma é a interação
                            entre as empresas e as ONGs. As empresas cadastram o
                            projeto do qual tem interesse e a ONG entra em contato
                            para fornecer seus recursos e informações sobre o
                            desenvolvimento dos trabalhos realizados por eles, assim
                            como o impacto socioambiental.
                        </p>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>

        <div class="col-md-6">
            <!-- Article -->
            <article class="h-100 g-bg-img-hero" style="background-image: url(assets/img-temp/900x390/img4.jpg);">
                <div class="d-flex h-100 g-theme-bg-gray-dark-v2 g-bg-primary-dark-v1-opacity-0_9--hover g-py-30 g-py-90--md g-px-15 g-px-30--md g-pl-170--lg g-transition-0_3 g-transition--ease-in">
                    <div class="align-self-center">
                        <h3 class="h5 text-uppercase g-font-weight-700 g-font-secondary g-color-white g-mb-12">Voluntários - Investidores</h3>
                        <p class="g-color-white-opacity-0_7 mb-0">
                            A segunda parte é o aplicativo para que o consumidor
                            escolha uma campanha para se conectar, oferecer
                            trabalho voluntário ou doações investindo na causa em
                            questão. Após a escolha ele receberá uma recompensa
                            pela participação em forma de créditos, descontos em
                            produtos ou serviços da empresa.
                        </p>
                    </div>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>

    <img class="g-hidden-sm-down g-width-100--md g-width-200--lg g-height-100--md g-height-200--lg g-absolute-centered" 
         src="~/img/LogoFinal.png" alt="Logo do nosso projeto">
</section>