    <title>The earth defender </title>

<!-- Required Meta Tags Always Come First -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">


<!-- Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<link rel="stylesheet" href="~/assets/vendor/icon-hs/style.css">
<link rel="stylesheet" href="~/assets/vendor/icon-line-pro/style.css">
<link rel="stylesheet" href="~/assets/vendor/icon-line/css/simple-line-icons.css">
<link rel="stylesheet" href="~/assets/vendor/hamburgers/hamburgers.min.css">
<link rel="stylesheet" href="~/assets/vendor/chosen/chosen.css">
<link rel="stylesheet" href="~/assets/vendor/animate.css">
<link rel="stylesheet" href="~/assets/vendor/slick-carousel/slick/slick.css">

<!-- Revolution Slider -->
<link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/css/settings.css">
<link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/css/layers.css">
<link rel="stylesheet" href="~/assets/vendor/revolution-slider/revolution/css/navigation.css">

<!-- CSS Template -->
<link rel="stylesheet" href="assets/css/styles.op-agency.css">

<!-- CSS Customization -->
<link rel="stylesheet" href="~/assets/css/custom.css">
