@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("_InstHeader")
</head>

<body>
    <main>
        @await Html.PartialAsync("_InstMenu")


        @await Html.PartialAsync("_InstCarrousel")

        @await Html.PartialAsync("_InstSobre")

        @await Html.PartialAsync("_InstPorque")

        @await Html.PartialAsync("_InstCadastro")

        @await Html.PartialAsync("_InstTeam")





        <footer class="text-center">
            <div class="g-py-30 g-py-80--md">
                <div class="container">
                    <div class="text-uppercase u-heading-v2-4--bottom g-brd-primary">
                        <h4 class="g-line-height-1 g-font-weight-700 g-font-size-12 g-color-primary g-mb-20">Contact us</h4>
                        <h2 class="u-heading-v2__title g-font-weight-700 g-font-size-30 g-font-size-40--md g-theme-color-gray-dark-v1">Get in touch</h2>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <address class="row g-color-gray-dark-v4 mb-0">
                    <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v1 px-0 g-py-60">
                        <i class="icon-line icon-map d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                        <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Local</h3>
                        <strong class="g-font-size-16 g-color-white">In sed lectus tincidunt</strong>
                    </div>

                    <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
                        <i class="icon-line icon-screen-smartphone d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                        <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Git</h3>
                        <strong class="g-font-size-16 g-color-white">https://github.com/Hackthon-The-earth-defenders</strong>
                    </div>

                    <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v1 px-0 g-py-60">
                        <i class="icon-line icon-envelope-letter d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                        <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Facebook</h3>
                        <a class="g-font-size-16 g-color-white" href="mailto:info@htmlstream.com"><strong>info@htmlstream.com</strong></a>
                    </div>

                    <div class="col-sm-6 col-md-3 g-theme-bg-gray-dark-v2 px-0 g-py-60">
                        <i class="icon-line icon-call-in d-inline-block g-font-size-30 g-font-size-40--md g-color-primary g-mb-30"></i>
                        <h3 class="text-uppercase g-font-size-11 g-theme-color-gray-light-v3 g-mb-5">Site</h3>
                        <strong class="g-font-size-16 g-color-white">+48 555 1258 987</strong>
                    </div>
                </address>
            </div>

            <div id="contact" class="g-color-gray-dark-v5 g-bg-gray-light-v5 g-py-30 g-py-70--md">
                <div class="container">
                    <div class="u-heading-v8-2 g-mb-60">
                        <h2 class="h1 text-uppercase u-heading-v8__title g-font-weight-700 g-font-size-26 g-font-secondary g-color-gray-dark-v2 g-mb-25">Have a questions?</h2>
                        <p class="mb-0">Sed eget aliquet nisl. Proin laoreet accumsan nisl non vestibulum.</p>
                    </div>

                    <form>
                        <div class="row">
                            <div class="col-md-6 form-group g-mb-30">
                                <input id="inputGroup1_1" class="form-control h-100 g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" type="text" placeholder="Your name">
                            </div>

                            <div class="col-md-6 form-group g-mb-30">
                                <input id="inputGroup1_2" class="form-control h-100 g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" type="tel" placeholder="Your phone">
                            </div>

                            <div class="col-md-6 form-group g-mb-30">
                                <select id="inputGroup1_3" class="js-custom-select form-control h-100 text-left u-form-control u-select-v1 g-font-size-default g-theme-color-gray-dark-v2 g-bg-white g-brd-white g-brd-gray-light-v3--hover g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" style="width: 100%;"
                                        data-placeholder="Department"
                                        data-open-icon="fa fa-caret-down"
                                        data-close-icon="fa fa-caret-up">
                                    <option></option>
                                    <option value="Department1">Department1</option>
                                    <option value="Department2">Department2</option>
                                    <option value="Department3">Department3</option>
                                    <option value="Department4">Department4</option>
                                </select>
                            </div>

                            <div class="col-md-6 form-group g-mb-30">
                                <input id="inputGroup1_4" class="form-control h-100 g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" type="text" placeholder="Subject">
                            </div>

                            <div class="col-md-12 form-group g-mb-30">
                                <textarea id="inputGroup1_5" class="form-control g-resize-none g-font-size-default g-theme-color-gray-dark-v2 g-placeholder-inherit g-bg-white g-bg-white--focus g-brd-white g-brd-gray-light-v3--hover g-brd-gray-light-v3--focus g-rounded-1 g-py-13 g-px-12 g-transition-0_2 g-transition--ease-in" rows="6" placeholder="Message"></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn u-btn-primary btn-md text-uppercase g-font-weight-700 g-font-size-12 rounded-0 g-px-25 g-py-10 mb-0" type="submit" role="button">Send message</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Google (Map) [custom] -->
            <div class="g-pos-rel g-height-500">
                <div id="gMap" class="js-g-map g-pos-abs w-100 h-100"
                     data-type="custom"
                     data-lat="40.674"
                     data-lng="-73.946"
                     data-zoom="12"
                     data-title="Agency"
                     data-styles='[
                 ["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]],
                 ["", "labels", [{"visibility":"on"}]],
                 ["water", "", [{"color":"#bac6cb"}]]
               ]'
                     data-pin="true"
                     data-pin-icon="assets/img/pin.png"></div>
            </div>
            <!-- End Google (Map) [custom] -->

            <div class="g-color-white g-bg-primary-dark-v1 g-py-40 g-px-15">
                <a class="d-inline-block g-mb-30" href="/">
                    <img class="img-fluid g-width-130" src="assets/img/logo-light.png" alt="Image description">
                </a>
                <p class="g-color-white-opacity-0_7 g-mb-30">Integer accumsan maximus leo, et consectetur metus vestibulum in. Vestibulum viverra justo odio maximus efficitur</p>
                <ul class="list-inline d-inline-block g-mb-30">
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#"><i class="fa fa-pinterest"></i></a>
                    </li>
                    <li class="list-inline-item g-mr-10">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a class="u-icon-v3 g-width-35 g-height-35 g-font-size-16 g-color-primary g-color-white--hover g-bg-white g-bg-gray-dark-v2--hover g-transition-0_2 g-transition--ease-in" href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
                <ul class="list-inline text-uppercase g-font-weight-700 g-font-size-11 mb-0">
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">About</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">Why we</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">Services</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">Work process</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">Skills</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">Team</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">Testimonials</a>
                    </li>
                    <li class="list-inline-item g-px-12--md">
                        <a class="g-color-white-opacity-0_7 g-color-white--hover g-text-underline--none--hover" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </footer>


        <a class="js-go-to u-go-to-v1" href="#"
           data-type="fixed"
           data-position='{
           "bottom": 15,
           "right": 15
         }'
           data-offset-top="400"
           data-compensation="#js-header"
           data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
    </main>


    @await Html.PartialAsync("_InstScript")

</body>
</html>
