@model HackthAccountViewModelson.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "";
}
@{
    var pageName = "Usuario";
    ViewData["Title"] = pageName;
}

<div class="row">
    <!-- Title -->
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fab fa-first-order"></i>@pageName
            <span> > Cadastro</span>
        </h1>
    </div>
    <!-- Coluna a Direita -->
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    </div>
</div>
<section id="widget-grid" class="">
    <div class="row">
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <form asp-action="lixoCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fas fa-plus" aria-hidden="true"></i> Cadastro de @pageName</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="panel-footer">
                        <div>
                            <input type="submit" value="Cadastrar" class="btn btn-primary pull-right" />
                        </div>
                    </div>
                </div>
            </form>
        </article>
    </div>
    <div>
        <a asp-action="Index">Voltar para lista</a>
    </div>
</section>
